.card-teacher{
  .card{
    border-radius: 20px;
    border-color: black;

    .icon-bg{
      background-color: rgba(236, 232, 232, 0.733);
      border-radius: 20px;
    }

    .card-body{
      .user-icon-container{
        margin-bottom: 15px;
        
      }

      h4{
        text-align: center;
      }
    }

    ul{
      border: 0;
    }

    .btn-profile{
      a{
        margin-left: 30%;
      }
    }
  }
}

@media (min-width:576px){
  @import "./components/index_mobile";
  
}

@media (min-width:768px){
  @import "./components/index_tablet";

}

@media (min-width:992px){
  @import "./components/index_desktop";

}
