<!-- Footer -->
      <footer class="text-center text-white footer_down" style="background-color: #0a4275;">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: CTA -->
          <section class="">
            <p class="d-flex justify-content-center align-items-center">
              <span class="me-3">Register now</span>
              <%= link_to "Sign up", register_path, class: "btn btn-outline-light btn-rounded" %>
            </p>
          </section>
          <!-- Section: CTA -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2021 Copyright:
          <a class="text-white" href="https://mdbootstrap.com/">Let´s Learn Inc.</a>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->