<h1>Students</h1>
<div id=table>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th colspan="2">Options</th>
      </tr>
    </thead>

    <tbody>
      <% @students.each do |s| %>
      <tr>
        <td><%= s.name %></td>
        <td><%= s.lastname %></td>
     
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
