
.register_page{
  background-color: #caf0f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: -64px;
  padding-bottom: 0px;
  padding-top: 0px;

  h1{
    margin-bottom: 20px;
  }

  .buttoms_select{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    .link_to_role{
      width: 60%;
      height: 60%;
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 20px;

      .description_role{
        display: flex;
        flex-direction: column;
        font-size: 20px;
        p{
          display: none;
        }
      }

      img{
        width: 100%;
        height: 100%;
        margin-top: 10px;
      }

    }

  }
}