<div class="container container-home">
  <section class="main_section">
    <div class="title">
      <h1>Lets Learn</h1>
    </div>

    <div class="description">
      <p> 
        We help you make finding a professional much easier.
        Find and schedule talks that solve your doubts about school or work.
      </p>
    </div>

    <div class="buttom">
      <%= link_to "Sign up", register_path, class: "btn btn-secondary" %>
    </div>
  </section>

  <section class="about_us">
    <div class="descriptions">
      <div class="title">
        <h1>About Us</h1>
      </div>

      <div class="description">
        <p>           
          We are an application that cares about solving all your professional doubts.
          Helping you find a professional who can explain you about the topics you do not understand.
        </p>
      </div>
    </div>

    <div class="images">
      <%= image_tag 'interesting.jpg'%>
    </div>
  </section>

  <section class="value_proposition">
    <div class="description">
      <div class="title">
        <h1>Best Value Proposition</h1>
      </div>

      <div class="description_one">
        <p> 
          Find professionals and teachers who understand and master topics of general interest so that you can understand them perfectly.
        </p>
      </div>

      <div class="description_two">
        <p> 
          Schedule an appointment with the teacher to be able to explain all your doubts.
        </p>
      </div>
    </div>
    
    <div class="images">
      <%= image_tag 'coach.jpg'%>
    </div>

  </section>

</div>