<div class="container_page">
  <section class="main_section">
    <div class="title">
      <h1>Lets Learn</h1>
    </div>

    <div class="description">
      <p> 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>

    <div class="buttom">
      <%= link_to %>
    </div>
  </section>

  <section class="about_us">
    <div class="descriptions">
      <div class="title">
        <h1>About Us</h1>
      </div>

      <div class="description">
        <p> 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
      </div>

      <div class="buttom">
        <%= link_to %>
      </div>
    </div>

    <div class="images">
      <img src="mdn-logo-sm.png" alt="IMG About Us">
    </div>
  </section>

  <section class="value_proposition">
    <div class="description">
      <div class="title">
        <h4>Your Best Value Proposition</h4>
      </div>

      <div class="description_one">
        <p> 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
      </div>

      <div class="description_two">
        <p> 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
      </div>
    </div>
    
    <div class="images">
      <img src="mdn-logo-sm.png" alt="IMG Value Proposition">
    </div>
  </section>
</div>