<div class="container_page">
    <h1>Choose a role </h1>

    <div class="buttoms_select">
      <div class="link_to_student">
          <%= link_to 'Student', home_path %>
      </div>

      <div class="link_to_teacher">
          <%= link_to 'Teacher', home_path %>
      </div>
    </div>
</div>
