<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>lastname</th>
        <th>summary</th>
      </tr>
    </thead>

    <tbody>
      <% @teachers.each do |teacher| %>
      <tr> 
        <td><%= teacher.name %></td>
        <td><%= teacher.lastname %></td>
        <td><%= teacher.summary %></td>
        <td><%= link_to "View Profile", teachers_profile_path(id: teacher.id) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
