<div class="content">
	<div class="profile-information">

		<div class="profile-img">
			<%= image_tag "user.svg" , class: "profile-image" %>
		</div>

		<div class="name-teacher">
			<h1><%= "#{@teacher.name} #{@teacher.lastname}" %></h1>
		</div>

		<div class="about-teacher">
			<h3>
				About Me
			</h3>

			<p>
				<%= @teacher.about %>
			</p>

		</div>
	</div>
	<% if student_signed_in? %>
	<div class="appointment">
	  <%= link_to "Make an appointment", home_path, class: "btn-app" %>
	</div>
	<% end%>
</div>
