.navbar {

  .navbar-brand {
    width: 150px;
  }
  
  #sign-in-up{

    #sign-in-li{
      margin-bottom: 0px;
      width: 100px;
    }

    #sign-up-li{
      margin-top: 0px;
      width: 100px;
    }
  }
}
